<div fxLayout="column" fxLayoutAlign="space-around center" class="container" >
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username">
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
        <mat-form-field  appearance="fill">
            <mat-label>Password</mat-label>
            <input type="text" matInput formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
            <button mat-raised-button >Login</button>
        </div>
    </form>
</div>