.container{
    padding: 60px;
}
#textarea{
    width:100%;
}
h2{
    text-transform: uppercase;
    color: #102A30;
    font-weight: bold;
}
h3{
    text-transform: uppercase;
    color: #102A30;
    font-weight: bolder;
}
h4{
    color: #1f434b;
    font-weight: bolder;
}
img{
    width: 90px;
}
.content{
    padding: 40px;
    color: #16434d;
    font-style: italic;
    font-size: large;
    text-align: justify;
}
button{
    background-color: #f7a63e;
    color: #FFFFFF;
}
mat-card{
    margin-bottom: 4rem;
}